<h1>Índice</h1>
<h2 style='text-align: center'>Botones para las rutas</h2>

<div class="button-container">
  <button onclick="window.location.href='/login'">Login</button>
  <button onclick="window.location.href='/register'">Registro</button>
  <button onclick="window.location.href='/profile'">Perfil</button>
  <button onclick="window.location.href='/logout'">Cerrar Sesión</button>
  <button onclick="window.location.href='/carts'">Vista de Carritos</button>
  <button onclick="window.location.href='/products'">Vista de Productos</button>
  <button onclick="window.location.href='/realtimeproducts'">RealTime Products</button>
  <button onclick="window.location.href='/home'">Home</button>
  <button onclick="window.location.href='/chat'">Chat</button>
  <button onclick="window.location.href='/messages'">Mensajes</button>
</div>

<div class="button-container">
  <button onclick="window.location.href='/api/carts'">Carritos API</button>
  <button onclick="window.location.href='/api/products'">Productos API</button>
  <button onclick="window.location.href='/api/users'">Usuarios API</button>
  <button onclick="window.location.href='/api/sessions'">Sesiones API</button>
</div>