<h1>Índice</h1>
<h2 style="text-align: center">Rutas con vistas</h2>

<div class="button-container">
  <button onclick="window.location.href='/login'">Login</button>
  <button onclick="window.location.href='/register'">Registro</button>
  <button onclick="window.location.href='/profile'">Perfil</button>
</div>

<div class="button-container">

  <button onclick="window.location.href='/carts/id'">Vista de Carritos</button>
  <button onclick="window.location.href='/products'">Vista de Productos en db</button>
  <button onclick="window.location.href='/chat'">Chat</button>
</div>
<h2 style="text-align: center">Rutas API</h2>

<div class="button-container">
  <button onclick="window.location.href='/api/carts/id'">Carritos API</button>
  <button onclick="window.location.href='/api/products'">Productos API</button>
  <button onclick="window.location.href='/api/users'">Usuarios API</button>
  <button onclick="window.location.href='/api/sessions'">Sesiones API</button>
</div>