<h1>Inicio de sesion</h1>
<div class="login-form">
  <form action="{{actionLogin}}" method="post">
    <input type="email" name="email" placeholder="email" required="true" />
    <br>
    <br>
    <input type="password" name="password" placeholder="password" required="true" />
    <br>
    <br>  
    <input type="submit" value="Login" />
  </form>
</div>

<div class="login-buttons">
  <a href="/api/sessions/github">
    <button>Ingresar con Github</button>
  </a>

<br>

  <a href="/register">
    <button>Registrate</button>
  </a>
<br>
  <a href="/passwordRecovery">
    <button class="password-button">Olvidaste tu contraseña?</button>
  </a>

</div>