<h1>¿OLVIDASTE TU CONTRASEÑA?</h1>
<hr />
<div>
  <p>Para restablecerla, tendrás que cumplir 3 sencillos pasos: </p>
  <p>1- Ingresá la dirección de correo electrónico con la que te registraste.</p>
  <p>2- Revisá tu casilla de correo, tanto la bandeja de entrada como la carpeta
    "Spam" o "No deseado".</p>
  <p>3- Abrí el email que te enviamos y hacé clic en el enlace para modificar tu
    contraseña.</p>
</div>
<hr />
<form action="/mail" method="post">
  <input type="email" name="email" placeholder="email" required="true" />
  <input type="submit" value="Enviar" />
</form>