<h1>Restablecer contraseña</h1>
<div class="login-form">
  <form action="/api/users/passwordreset" method="post">
  <input type="hidden" name="token" value="{{ token }}" />
  <p>Ingrese una nueva contraseña</p>
    <input type="password" name="password" placeholder="password" required="true" />
    <br>
    <br>  
    <input type="submit" value="Restablecer" />
  </form>
</div>

