<h1>Realtime Products</h1>

<form id="productForm">
    <label for="productName">Nombre del Producto:</label>
    <input type="text" id="productName" name="productName" required>
    <br>

    <label for="productDescription">Descripción:</label>
    <input type="text" id="productDescription" name="productDescription" required>
    <br>

    <label for="productCode">Código:</label>
    <input type="text" id="productCode" name="productCode" required>
    <br>

    <label for="productPrice">Precio:</label>
    <input type="number" id="productPrice" name="productPrice" required>
    <br>

    <label for="productStock">Stock:</label>
    <input type="number" id="productStock" name="productStock" required>
    <br>

    <label for="productCategory">Categoría:</label>
    <input type="text" id="productCategory" name="productCategory" required>
    <br>

    <button type="submit">Agregar Producto</button>
</form>
<br>
<button id="deleteProductBtn">Eliminar Último Producto</button>

<ul id="productList">
    {{#each products}}
    <li>{{this.title}} - Precio: ${{this.price}}</li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/realTimeProducts.js"></script>