<div class="ticket-container">
  <div class="ticket-info">
    <h2>Ticket de Compra</h2>
    <p><strong>Código:</strong> {{ticket.code}}</p>
    <p><strong>Monto:</strong> ${{ticket.amount}}</p>
    <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
    <p><strong>Fecha y Hora de Compra:</strong> {{ticket.purchase_datetime}}</p>
  </div>
  <p>Gracias por tu compra. Esperamos que disfrutes de tus productos.</p>
  <button onclick="window.location.href='/'">Home</button>

</div>